exclude: |
  (?x)^(
      .*\{\{.*\}\}.*|     # Exclude any files with cookiecutter variables
      docs/site/.*|       # Exclude mkdocs compiled files
      \.history/.*|       # Exclude history files
      .*cache.*/.*|       # Exclude cache directories
      .*venv.*/.*|        # Exclude virtual environment directories
  )$
fail_fast: true
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.4
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0  # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
        args: [profile = "black"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: mypy
        name: mypy (project env)
        entry: poetry run mypy --config-file=pyproject.toml
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run poe unittest
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: web-ext-lint
        name: web extension prettier
        language: system
        pass_filenames: false
        entry: bash -lc 'cd apps/web_extension && pnpm run format'

  - repo: local
    hooks:
      - id: web-ext-lint
        name: web extension eslint
        language: system
        pass_filenames: false
        entry: bash -lc 'cd apps/web_extension && pnpm run lint'

